extends layout

block navbar
 div.centered-pills
  ul.nav.nav-pills
   li.active
    a(href="/") Home
   li
    a(href="play") Take Quiz
   li.dropdown
    a.dropdown-toggle(data-toggle="dropdown", href="#") Quiz Manager
     b.caret
    ul.dropdown-menu
     li
      a(href="/quizMaster/createQuestion") Create Question
     li
      a(href="/quizMaster/viewQuestions") View Questions
   li
    if(user)
     a(href="/logout") Logout
    if(!user)
     a(href="/login") Login

block content
 div.span7.well
  if(user)
   p You are currently logged in as #{user.username}
   a(href="/quizMaster/createQuestion") Create a new Question
  if(!user)
   a(href="/register") Register