body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

html, body {
    height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -50;
  /* Pad bottom by footer height */
  padding: 0 0 50px;
}

footer {
  height: 50px;
  background-color: #2b2b2b;
  border-top: 5px solid #dedede;
}